{% load socialaccount %}
{% load static %}

{% get_providers as socialaccount_providers %}

{% for provider in socialaccount_providers %}
{% if provider.id == "openid" %}
{% for brand in provider.get_brands %}
<div>
  <a title="{{brand.name}}" 
     class="socialaccount_provider {{provider.id}} {{brand.id}}" 
     href="{% provider_login_url provider.id openid=brand.openid_url process=process %}"
     >{{brand.name}}</a>
</div>
{% endfor %}
{% endif %}
<div class="my-2">
  <br><br>
  <form action="{% provider_login_url provider.id %}" method="post"> 
    {% csrf_token %}
    <button type="submit" style="padding:0; border:0">
     <img 
      src="
     {% with 'images/'|add:provider.name|add:'.png' as image %}
      {% static image %}
     {% endwith %}
     " alt="{{ provider.name }}" height="60" width="315"/>
    </button>
  </form>
</div>
{% endfor %}